@page "/"

<h1>Самый лучший в мире сайт</h1>

<form action="/api/WeatherForecastService">
    <button >Api без авторизации</button>
</form>

<p></p>

<form action="/apinoauth/WeatherForecastService">
    <button>api открытый </button>
</form>





